$PrimaryBackgroundColor: #951D46;
$SecondaryBackgroundColor: black;

$PrimaryTextColor: black;
$SecondaryTextColor: #951D46;

// Login Page
.loginPageBtn {
    border: none;
    color: white;
    text-align: center;
    height: 45px;
    width: 100%;
    max-width: 237px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.loginPageBtn:hover {
    opacity: 80%;
}


// Home
.homeBtn {
    border: none;
    color: white;
    text-align: center;
    padding: 1vh;
    border-radius: 3px;
    display: inline-block;
    .textHomeBtn {
        padding: 1vh;
    }
}
.homeBtn:hover {
    opacity: 80%;
}


// Navbar
.loginBtn {
    border: none;
    color: white;
    text-align: center;
    padding: 1vh;
    border-radius: 3px;
    display: inline-block;
    .textLoginBtn {
        padding: 1vh;
    }
}
.loginBtn:hover {
    opacity: 80%;
}

