$PrimaryBackgroundColor: #951D46;
$SecondaryBackgroundColor: black;

$PrimaryTextColor: black;
$SecondaryTextColor: #951D46;

.loginBtn {
    border: none;
    color: white;
    text-align: center;
    padding: 1vh;
    border-radius: 3px;
    display: inline-block;
    .textLoginBtn {
        padding: 1vh;
    }
}

.loginBtn:hover {
    opacity: 80%;
}

.homeBtn {
    border: none;
    color: white;
    text-align: center;
    padding: 1vh;
    border-radius: 3px;
    display: inline-block;
    .textHomeBtn {
        padding: 1vh;
    }
}

.homeBtn:hover {
    opacity: 80%;
}




