// Section Background
$PrimarySectionBackgroundColor: #EEEEEE;
$SecondarySectionBackgroundColor: white;

// Backgrounds
$PrimaryBackgroundColor: #951D46;
$SecondaryBackgroundColor: black;

// Text
$PrimaryTextColor: black;
$SecondaryTextColor: #951D46;


// Text button
$PrimaryTextButtonColor: white;
$SecondaryTextButtonColor: rgb(224, 224, 224);