@use '_colors.scss';

.navbarLinks {
    color: colors.$PrimaryTextColor;
}

.navbarLinks:hover {
    color: colors.$SecondaryTextColor;
}

.backgroundNavbar {
    background-color: colors.$PrimarySectionBackgroundColor;
}