@use 'styles/_buttons.scss';
@use 'styles/Home.scss';
@use 'styles/Navbar.scss';
@use 'styles/queries.scss';

$PrimaryBackgroundColor: #951D46;
$SecondaryBackgroundColor: black;

$PrimaryTextColor: black;
$SecondaryTextColor: #951D46;

h1 {
    font-family: "SansationBold" !important;
    font-size: 3em;
}

h2 {
    font-family: "SansationBold" !important;
    font-size: 2em;
}

h3 {
    font-family: "SansationBoldItalic" !important;
    font-size: 1.5em;
}

h4 {
    font-family: "SansationBoldItalic" !important;
    font-size: 1.5em;
}

span {
    font-family: "SansationLight" !important;
    font-size: 1em !important;
}

p {
    font-family: "SansationLight" !important;
    font-size: 1em !important;
}

a {
    font-family: "SansationLight" !important;
    font-size: 1em !important;
}

.bgPrimaryColor {
    background-color: $PrimaryBackgroundColor;
}

.bgSecondaryColor {
    background-color: $SecondaryBackgroundColor;
}