@use 'styles/_buttons.scss';

h1 {
    font-family: "SansationBold" !important;
}

h2 {
    font-family: "SansationBold" !important;
}

h3 {
    font-family: "SansationBold" !important;
}

h4 {
    font-family: "SansationBoldItalic" !important;
}

span {
    font-family: "SansationItalic" !important;
}

p {
    font-family: "SansationItalic" !important;
}

a {
    font-family: "SensationRegular" !important;
}