@use 'styles/_buttons.scss';

h1 {
    font-family: "SansationBold" !important;
    font-size: 3.4em;
}

h2 {
    font-family: "SansationBold" !important;
    font-size: 2.4em;
}

h3 {
    font-family: "SansationBold" !important;
}

h4 {
    font-family: "SansationBoldItalic" !important;
}

span {
    font-family: "SensationRegular" !important;
}

p {
    font-family: "SansationLight" !important;
    font-size: 1.1em !important;
}

a {
    font-family: "SensationRegular" !important;
    font-size: 0.8em !important;
}